/* --- GENERAL --- */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

p {
    line-height: 2em;
    font-weight: 300;
    font-size: 15px;
}

/* --- BUTTON --- */

.button-blue {
    background-color: #0084FD;
    padding: 10px 15px;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.button-violet {
    background-color: #9792E4;
    color: black;
    padding: 20px;
    border-radius: 50%;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
}

.button-violet-big {
    background-color: #9792E4;
    padding: 10px 15px;
    color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}

.button-white {
    background-color: white;
    color: #9792E4;
    width: 222px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

.btn-start {
    background-color: white;
    padding: 15px;
    color: #333333;
    border-radius: 25px;

}

header {
    background-color: #0084FD;
    min-height: 4rem;
}

.menu {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu-right a {
    text-decoration: none;
    display: none;
    padding-left: 10px;  
}

.demo, .planning, .testimonials, .benefits, .get-started {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blue-box {
    width: 80%;
    display: flex;
    margin: 0 auto;
    background-color: #B5DDFF;
    margin-top: 40px;
    border-radius: 30px;
    flex-direction: column;
}

.planning, .benefits, .get-started {
    background-color: #9792E4;
    margin-top: 40px;
    padding-bottom: 10px;
}

.planning-box {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.planning, .planning-box, .testimonials > p{
    margin-top: 40px;
    text-align: center;
}

.testimonials-box {
    width: 80%;
    background-color: #9792E4;
    margin-top: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.circle-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
}

.circle-image > img{
    width:100%;
    height:100%;
    object-fit: cover;
  }


.testimonials > h2 {
    text-align: center;
}

.benefits-box {
    width: 70%;
    min-height: 200px;
    background-color: white;
    border-radius: 30px;
    margin-top: 40px;
    padding: 20px;
}

.about-us {
    width: 80%;
    min-height: 270px;
    margin: 40px auto;
}

.relative {
    position: relative;
    height: 0;
}

.relative i {
    position: relative;
    top: -224px;
    left: 180px;
    font-size: 60px;
    color: #9792E4;
}


footer {
    background-color: #333333;
    color: white;

}

.container-footer {
    width: 80%;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
}



/* --- MEDIAQUERY --- */

@media screen and (min-width: 768px) {

    .big-card {
        width: calc(66.6666% - 16px);
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .small-card {
        width: calc(33.3333% - 16px);
        margin-bottom: 16px;
    }

    .demo {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        align-items: normal;
    }
    
    .demo img {
        max-width: 76%;
    }

    .button-blue {
        width: 45%;
        margin-left: 20px;
    }

    .testimonials-box {
        width: 90%;
    }

}


@media screen and (min-width: 992px) {
    .menu-right a {
        display: inline-block;
    }

    .menu-right i {
        display: none;
    }


}